<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		 <%= stylesheet_link_tag "custom.css" %>
		 <%= stylesheet_link_tag "translator.css "%>
		 <%= javascript_include_tag "scripts" %>
		 <%= javascript_include_tag "translator" %>
		<title>Транслятор</title>
	</head>
	<body>
		
		<div id="nav_mobile_dark">
		</div>
		<div id="nav_mobile_menu">
			<text align="center"><H2>Меню</H2>
			<a href="../../" class="mobile-menu-item">Главная</a>
			<a href="" class="mobile-menu-item">Транслятор</a>
			<a href="" class="mobile-menu-item">Мой код</a>
            <a href="../help/index" class="mobile-menu-item">Справка</a>
			<a href="../../login/index" class="mobile-menu-item">Войти</a>
		</div>
		<div class="page">
			<nav class="menu">
				<div id="nav_mobile">			
					<a ><div id="btnMenu" class="menu-button"></div></a>
				</div>
				<div id="nav_pc">
					<a href="../../" class="menu-item">Главная</a>
					<a href="/translator/index" class="menu-item">Транслятор</a>
					<a href="" class="menu-item">Мой код</a>
                    <a href="../help/index" class="menu-item">Помощь</a>
					<a href="../../login/index" class="menu-item login-button">Войти</a>
				</div>
			</nav>

			<div style="height:50px">
	    	</div>


			<div class="card  code-editor">
	    			<span class="card-tittle">
	    				<span>Код на Милане <a href="../help/index">(справка)</a></span>
	    			</span>
	    			<span class="card-content" id="contentSource">
	    				<textarea id="sourceCode"></textarea>
	    			</span>
	    	</div>

			<div class="card  code-editor">
	    			<span class="card-tittle">
	    				<span>Код на С++</span>
	    			</span>
	    			<span class="card-content" id="contentDestin">
	    				<textarea id="destinCode"></textarea>
	    			</span>
	    	</div>

			<div class="card" id="control-panel">
	    			<span class="card-tittle">
	    				<span>Управление</span>
	    			</span>
	    			<span class="card-content">
	    			    <div class="control-alignment">
                          <%= image_tag("icon_translate.png", :class => "button", :id => "btnSend") %>
                          <%= image_tag("icon_open.png", :class => "button button-disable") %>
                          <%= image_tag("icon_save.png", :class => "button button-disable") %>
	    				</div>
	    			</span>
	    	</div>

	    	<div class="wrapper">
	    	</div>

	    </div>

	    <footer>
    		<div class="footer-align">
              Транслятор "Милан &rarr; C++ &copy; Марков Алексей, 2014
    		</div>
    	</footer>
    		

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	</body>
</html>


